.sidebar{
    
    height: calc(100vh - 50px);
    background-color: rgb(247, 254, 255);
    position: sticky;
    top: 50px;
    
}

.sidebarWrapper{
    padding: 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;

}

.sidebarTitle{
    font-size: 13px;
    color:rgb(147, 158, 158)
}

.sidebarList{
    list-style: none;
    padding: 5px;
}

.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: rgb(104, 100, 100);
   
    
}
.sidebarListItem.active,
.sidebarListItem:hover {
    background-color: rgb(233, 239, 240);
}

.sidebarIcon{
    margin-right: 9px;
    font-size: 20px !important;
}

@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }